// =============================================================================
// _vars.scss
// -----------------------------------------------------------------------------
// Vars and Settings
// =============================================================================

// -----------------------------------------------------------------------------
// Font Stacks
// -----------------------------------------------------------------------------
$opensans: "Open Sans",  serif;
$sans-serif: "Aileron-Light", sans-serif;
$sans-serif-bold: "Aileron-Bold", sans-serif;
// -----------------------------------------------------------------------------
// Font Sizes (_verticalrythm.scss)
// -----------------------------------------------------------------------------
$base-font-size: 16px;
$base-line-height: 1.5;

// -----------------------------------------------------------------------------
// Colors
// http://clrs.cc
// -----------------------------------------------------------------------------
$navy: #001F3F;
$greynavy: #303747;
$blue: #0074D9;
$aqua: #7FDBFF;
$teal: #39CCCC;
$olive: #3D9970;
$green: #2ECC40;
$lime: #01FF70;
$yellow: #FFDC00;
$orange: #FF851B;
$red: #FF4136;
$fuchsia: #F012BE;
$purple: #B10DC9;
$maroon: #85144B;
$white: #FFFFFF;
$silver: #DDDDDD;
$gray: #AAAAAA;
$black: #111111;

$body-bg : #f3f6f7;
$text-color: #333;
$accent-color: #8461d4;
// responsive breakpoints
$breakpoint: (
  sm: 480px,
  md: 720px,
  lg: 1280px,
  xl: 1440px
);


@mixin clearfix {
  &::before, &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

@mixin resetedUl {
  margin: 0;
  padding: 0;
  list-style: none;
}
